@import "mixsin";
@import "gloobal";
@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@100;200;300;400;500;600;700;800;900&family=Lato:ital,wght@0,400;1,700&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Noto+Sans:wght@100;200;300;400;500;600;800;900&family=Open+Sans:wght@300;400;500;600;700;800&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&family=Rubik:wght@300;400;500;600;700;800;900&family=Tenor+Sans&display=swap');


  #header{
    padding: 40px 0;
    z-index: 120;
    position: fixed;
    .navbar{
      @include cent();
      animation: hero 3000ms;
      animation-iteration-count: 1;
      @keyframes hero {
        from{
         transform: translateX(-100%);
          opacity: 0.25;
        }
        to{
          transform: translateX(0%);
          opacity: 1;
        }
      }
      &--logo{
        display: flex;
        align-items: center;
        img{
          margin-left: 120px;
        }
        h1{
          font-weight: 700;
          font-size: 20px;
          color: #FFFFFF;
          margin-left: 30px;
        }
      }
      nav{
        a{
          font-weight: 400;
          font-size: 20px;
          color: #FFFFFF;
          padding-left: 36px;
        }
      }
      button{
        font-weight: 700;
        font-size: 20px;
        color: #F4F4F4;
        width: 113px;
        height: 48px;
        background: linear-gradient(132.95deg, #FFC301 9.31%, #FF6533 79.4%);
        box-shadow: 15px 15px 35px rgba(226, 142, 15, 0.18);
        border-radius: 10px;
      }
    }
  }
  #hero{
z-index: 100;
  //position: fixed;
  img{
    width: 100%;
    height: 100%;
  }
  .hero{
    margin-top: -650px;
    animation: block 3000ms;
    animation-iteration-count: 1;
    @keyframes block {
      from{
        transform: translateX(-100%);
        opacity: 0.25;
      }
      to{
        transform: translateX(0%);
        opacity: 1;
      }
    }
    h1 {
      width: 472px;
      font-weight: 700;
      font-size: 48px;
      line-height: 68px;
      color: #FFFFFF;
      margin-top: 100px;
    }
    p{
      width: 440px;
      font-weight: 400;
      font-size: 20px;
      color: #FFFFFF;
      padding: 40px 0;
    }
    &--btn{
      display: flex;
      align-items: center;
      button{
        width: 110px;
        height: 40px;
        font-weight: 700;
        font-size: 20px;
        text-align: center;
        color: #FFFFFF;
        background: linear-gradient(132.95deg, #FFC301 9.31%, #FF6533 79.4%);
        border-radius: 10px;
        margin-right: 20px;
      }
      button:hover{
        background: transparent;
        border: 1px solid #FF8E1E;
      }
    }
    &--block{
      z-index: 90;
      position: relative;
      width: 255px;
      height: 192px;
      left: 850px;
      top: -170px;
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(140.08deg, #9CD2EE 3.42%, #00ACEE 95.98%);
      box-shadow: -46px -61px 36px rgba(0, 0, 0, 0.25);
      border-radius: 10px;
      animation: group 3000ms;
      animation-iteration-count: 1;
      @keyframes group {
        from{
          transform: translateX(100%);
          opacity: 0.25;
        }
        to{
          transform: translateX(0%);
          opacity: 1;
        }
      }
      h1 {
        font-weight: 700;
        font-size: 18px;
        color: #F4F4F4;
        text-align: center;
        padding: 20px 0 10px 0;
      }
        &__group{
          @include center();
          margin-bottom: 18px;
          ion-icon{
            font-weight: 700;
            font-size: 20px;
            color: #F4F4F4;
          }
          h1{
            font-weight: 700;
            font-size: 24px;
            color: #F4F4F4;
            padding: 0 14px;
          }
          h2{
            font-weight: 400;
            font-size: 15px;
            color: #F5F5F5;
          }

        }
        &__img{
          @include center();
          img{
            width: 42px;
            height: 42px;
          }
          h1{
            font-weight: 700;
            font-size: 16px;
            color: #F4F4F4;
            padding-left: 17px;
          }
        }

    }
  }
}
  #online{
    padding: 40px 0;
    background: #F7F7F7;
    margin-top: -65px;
    .online{
      h1{
        font-weight: 700;
        font-size: 48px;
        line-height: 68px;
        text-align: center;
        color: #232222;
      }
      p{
        //width: 770px;
        font-weight: 400;
        font-size: 20px;
        text-align: center;
        color: #232222;
        margin: 56px 0;
      }
      &--group{
        @include line();
        &__one{
          width: 275px;
          height: 400px;
          border-radius: 20px;
          //transition: 2s;
          img{
            width: 275px;
          }
          h1{
            font-weight: 700;
            font-size: 32px;
            text-align: center;
            color: #232222;
            top: 25px;
          }
        }
        &__one:hover{
          font-weight: 700;
          font-size: 32px;
          color: #FFFFFF;
          background: linear-gradient(132.95deg, #FFC301 9.31%, #FF6533 79.4%);
          box-shadow: 12px 18px 30px rgba(0, 0, 0, 0.08);
          border-radius: 20px;

        }
      }
    }
  }
  #drops{
    .drops{
      h1{
        font-weight: 700;
        font-size: 48px;
        line-height: 68px;
        text-align: center;
        color: #232222;
      }
      p{
        font-weight: 400;
        font-size: 20px;
        text-align: center;
        color: #232222;
        padding: 24px 0 50px 0;
      }
      &--group{
        @include line();
        margin-bottom: 40px;
        &__block{
          width: 270px;
          height: 400px;
          background: #F4F4F4;
          box-shadow: 12px 18px 30px rgba(0, 0, 0, 0.1);
          border-radius: 20px;
          img{
            width: 270px;
          }
          h2{
            font-weight: 700;
            font-size: 18px;
            color: #232222;
            text-align: center;

          }
          &--icons{
            display: flex;
            align-items: center;
            margin: 20px 0;
            padding-left: 30px;
            ion-icon{
              font-weight: 700;
              font-size: 24px;
              color: #FF8E1E;
            }
            h2{
              font-weight: 700;
              font-size: 24px;
              color: #FF8E1E;
              padding-left: 17px;
            }
          }
          &--img{
            display: flex;
            align-items: center;
            margin-left: 30px;
            img{
              width: 42px;
              height: 42px;
            }
            h2{
              font-weight: 700;
              font-size: 16px;
              color: #232222;
              margin-left: 16px;
            }
          }
        }
      }
    }
  }
  #swiper{
    .swiperr{
      &--title{
        @include line();
        h1{
          font-style: normal;
          font-weight: 700;
          font-size: 48px;
          line-height: 68px;
          color: #232222;
        }
        button{
          width: 149px;
          height: 48px;
          background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(140.08deg, #9CD2EE 3.42%, #00ACEE 95.98%);
          border-radius: 10px;
          font-weight: 700;
          font-size: 20px;
          text-align: center;
          color: #FFFFFF;
        }
      }
      p{
        font-weight: 400;
        font-size: 20px;
        color: #232222;
        padding: 30px 50px;
      }
    }
  }
  #browse{
    padding: 40px 0;
    .browse{
      h1{
        font-weight: 700;
        font-size: 48px;
        color: #232222;
        text-align: center;
      }
      p{
        font-weight: 400;
        font-size: 20px;
        text-align: center;
        color: #232222;
        padding: 30px 0;
      }
      &--block{
        @include line();
        img{
          width: 275px;
          height: 236px;
        }
      }
    }
  }
  #logo{
    padding: 40px 0;
    background: #F4F4F4;
    .logo{
      @include line();
      ion-icon{
        font-weight: 700;
        font-size: 48px;
        color: #3f3c3c;
      }
      &--icons{
        display: flex;
        align-items: center;
        ion-icon{
          font-weight: 700;
          font-size: 48px;
          color: #3f3c3c;
        }
        h1{
          font-weight: 700;
          font-size: 48px;
          color: #3f3c3c;
          margin-left: 10px;
        }
      }
    }
  }
  #stay{
    background: url("/img/stay.svg") no-repeat ;
    height: 600px;
    .stay{
      margin-bottom: 98px;
      h1{
        padding-top:232px;
        font-weight: 700;
        font-size: 48px;
        color: #232222;
      }
      p{
        width: 467px;
        font-weight: 400;
        font-size: 20px;
        color: #232222;
        padding: 20px 0;
      }
      &--input{
        display: flex;
        align-items: center;
        position: relative;
        input{
          width: 495px;
          height: 48px;
          background: #FFFFFF;
          border-radius: 10px;
          outline: none;
          font-weight: 400;
          font-size: 15px;
          color: #333333;
          border: none;
        }
        button{
          position: absolute;
          width: 149px;
          height: 48px;
          background: linear-gradient(132.95deg, #FFC301 9.31%, #FF6533 79.4%);
          border-radius: 10px;
          font-weight: 700;
          font-size: 20px;
          text-align: center;
          color: #FFFFFF;
          right: 646px;
        }
      }
    }
  }
  #footer{
    padding: 80px 0;
    .footer{
      @include line();
      align-items: start;
      &--title{
        &__one{
          display: flex;
          align-items: center;
          margin-bottom: 33px;
          h1{
            font-weight: 700;
            font-size: 20px;
            color: #232222;
            padding-left: 17px;
          }
        }
        p{
          width: 373px;
          font-weight: 400;
          font-size: 20px;
          color: #232222;
        }
      }
      &--link{
        display: flex;
        flex-direction: column;
        h2{
          font-weight: 700;
          font-size: 20px;
          color: #232222;
          padding-bottom: 21px;
        }
        a{
          font-weight: 400;
          font-size: 20px;
          color: #232222;
          padding-bottom: 20px;
        }
      }
    }
  }


